
<% include ../partials/header.ejs %>

<!--content for the Add page-->
<div class = "container">
    <div class = "row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>
        <form class = "form" method="POST">
                <div class ="form group">
                    <label for="NameTextField">Title</label>
                    <input type="text" class="form control"
                    id="NameTextField"
                    placeholder="Enter the Book Title"
                    name="title" required>
                </div>

                <div class ="form group">
                    <label for="PriceTextField">Price</label>
                    <input type="number" class="form control"
                    id="PriceTextField"
                    placeholder="Enter the Book's price"
                    name="price" required>
                </div>

                <div class ="form group">
                    <label for="AuthorTextField">Author</label>
                    <input type="text" class="form control"
                    id="AuthorTextField"
                    placeholder="Enter the Book's Author"
                    name="author" required>
                </div>


                <div class ="form group">
                    <label for="GenreTextField">Genre</label>
                    <input type="text" class="form control"
                    id="GenreTextField"
                    placeholder="Enter genre of the book"
                    name="genre" required>
                </div>

                
                <button class = "btn btn-primary" type="submit"><i class = "fas fa-edit"></i>submit</button>
                <a href="/books" class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a> 
            
        </form>
        </div>
        </div>
    </div>


<% include ../partials/footer.ejs %>

