<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="text-center py-40">
        <blockquote class="blockquote">
          <h1 class="display-3"><strong>Welcome Survey Site</strong></h1>
        </blockquote>
        <figcaption class="blockquote-footer" style="width: 60%;margin-left: 20%;margin-right: 20%;" >
          <h3 class="display-6">
            Welcome to our survey creation site! We specialize in helping businesses and individuals create
            customized surveys to gather feedback and insights from their audience. Our easy-to-use platform 
            allows you to design and distribute surveys quickly and efficiently, with a range of question types
             and customization options to suit your needs. Whether you're looking to gather customer feedback, 
             conduct market research, or run employee satisfaction surveys, we've got you covered. Join our 
             community of satisfied clients and start creating surveys that deliver valuable insights today!
          </h3>
        </figcaption>
      </div>
    </div>

<% include ../partials/footer.ejs %>


